*{
    margin: 0 16px;
    padding: 24px 0;
}
.cabecalho
{
    white-space: 20%;
    background-color: #383D58;
    color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabecalho-lista-item
*{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}
